/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features,
.sensors {
  padding-top: 1rem;
  &-card {
    padding: 60px 50px;
    margin-bottom: 30px;
    min-height: 450px;
    box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
    transition: box-shadow 0.6s 0s;

    &-header {
      color: var(--primary-dark);
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
    i {
      color: var(--primary-dark);
      font-size: 3rem;
    }
    &:hover {
      box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    h3 {
      margin: 10px 0 0 0;
      padding: 0;
      font-size: 28px;
      line-height: 32px;
      font-weight: 700;
      color: var(--primary-dark);
    }

    p {
      font-size: 1rem;
      margin-top: 2rem;
    }

    @media (min-width: 768px) {
      padding: 2rem;
      h3 {
        font-size: 38px;
        line-height: 42px;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      max-width: 250px;
    }
  }
}

.features-section {
  @media (min-width: 768px) {
    padding-bottom: 0px;
  }
}

.lighting-section img {
  max-width: 500px;
}

.sensors .sensors-card {
  min-height: 205px;
  @media (min-width: 992px) {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    p {
      max-width: 90%;
      margin: auto;
    }
  }
}

/*--------------------------------------------------------------
# Highlights
--------------------------------------------------------------*/

.highlights {
  & .row > div {
    max-width: 500px;
  }

  & .box {
    padding: 30px;
    box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    img {
      padding: 30px 50px;
      transition: 0.5s;
      transform: scale(1);
      max-height: 240px;
    }
    h3 {
      font-size: 24px;
      color: var(--primary-dark);
      font-weight: 700;
      margin-bottom: 18px;
    }
    &:hover {
      box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
      img {
        transform: scale(1.1);
      }
    }
  }
}

/*--------------------------------------------------------------
# Certified Pill
---------------------------------------------------------------*/

.certified {
  width: min-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-right: 0.5rem;
  padding: 0.125rem 0.625rem;
  border-radius: 9999px;
  background-color: var(--primary-dark);
  color: #fff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}
